.body {
	margin: 6.5%;
}

.body , .wrapper-head-panel .panel-body , .wrapper-head-panel .panel-footer{
	width:1250px !important;
}

.wrapper-navbar .navbar .navbar-header {
	width:1250px !important;
	height: 0px;
}

em{
	font-family: Cursive; 
	font-size:30px;
}

span {
	font-family: Cursive;
	font-size: 20px;
}

strong {
	text-decoration: underline;
}

#navbar-container {
	margin-right: 3%;
}

#head-panel{
	display: block;
	width: 100%;
	max-width: 1250px;
	height: 300px;
	max-height: 300px;
}

#panel-header{
	background-image: url('../pic/bg_header.png');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	display: block;
	width: 100%;
	max-width: 1250px;
	height: 300px;
	max-height: 300px;
}

#panel-header img {
	margin-top: 3%;
	margin-left: 3%;
}

#under-panel{
	height: auto;
}

#allcontent {
	margin-top: 20px;
	margin-left: 10px;
	float: left;
}

#allcontent p:first-child , #allcontent p:nth-child(6) , #allcontent p:nth-child(10){
	text-indent: 50px;
}

#index-thumbnail {
	margin-top: 20px;
	margin-right: 50px;
	float:right;
}

#index-thumbnail img {
	width: 400px;
	height: 300px;
}

.thumbnail{
	width: 400px;
	height: auto;
}

th {
	width: 500px;
}

#leftcontent #container {
	float: right;
	padding-left: 40px;
	margin-top: 20px;
	margin-right: 30%;
}

#leftcontent #container p {
	font-size: 18px;
}
