/* main menu styles */
#nav {
	height:118px;
	width:100%;
	color:#FF3399;
}

#nav,#nav ul {
	list-style:none;
	padding:0px;
	background-color:#FF9900;
}

#nav li a {
	background:no-repeat right top;
	float:right;
	font-size:16px;
	font-weight:bold;
	width:140px;
	line-height:115px;
	text-align: center;
	text-decoration:none;
}

#nav li:first-child a {
	background:url(../pic/logo.jpg) no-repeat left top;
	float:left;
	height:118px;
	width:118px;
}

#nav a:hover,#nav li:hover > a {
	color:#FF3399;
}